<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type ="text/css" href="css/index.css">
    <link rel="stylesheet" type ="text/css" href="css/htmlSettings.css">
</head>
<body>
    <div class="mainBlock">
        <div id="sessions"></div>
        <!-- <button id="test" class="connectBtn">Test</button> -->
        <button id="createSession" class="connectBtn">New Game</button>
        <div id="win_block"></div>
    </div>
</body>
<script type="module" src="./js/front/main.js"></script>
</html>