tr {
	display: flex;
	flex-direction:row;
}

td {
	display: flex;
	
}
.inner {
	width: 50px;
	height: 50px;
	// font-size: 20px;
	// line-height: 50px;
	text-align: center;
	// text-transform: uppercase;
	border: 1px solid #333;
	margin: 5px;
	cursor: pointer;

	position: absolute;

	z-index: 0;

	// box-shadow: 3px 4px 1px 2px rgba(1,1,1, 0.1);
	// text-shadow: 2px 3px  1px rgba(1,1,1, 0.3);
	user-select: none;
}

.inner:hover {
	background-color: rgba(1,1,1, 0.2);
}

.block {
	width: 50px;
	height: 50px;

	// border: 1px solid transparent;
	background-color: transparent;

	position: relative;
	z-index: 1;
}

img {
	width: inherit;
	height: inherit;
	// background-image: url("../assets/surcle.png");
	// object-fit: cover;
}

// table {
// 	/*margin: 0 auto;*/
// }

#win_block {
	display: none;
	text-align: center;
	padding-top: 20px;
	font-size: 20px;
}
#win_block .again{
	font-weight: bold;
	cursor: pointer;
	color: #369;
	border-bottom: 1px solid #369;
}
#win_block .again:hover{
	border-color: transparent;
}


#game {
	position: relative;
}
#game .table{
	/*border: 1px solid red;*/
	display: table;
	
	margin: 0 auto;
	position: relative;
}
#game .table .winning{
	display: none;
	width: 100%;
	height: 100%;
	background: rgba(0,200,0, 0.5);

	position: absolute;
	top: 0;
	left: 0;
}

// #game table tr:first-child div {
// 	margin-top: 0;
// }
// #game table tr:last-child div {
// 	margin-bottom: 0;
// }
// #game table tr td:first-child div {
// 	margin-left: 0;
// }
// #game table tr td:last-child div {
// 	margin-right: 0;
// }

#game table tr div {
	margin: 0;
}

#game table tr td div {
	margin: 0;
}
