.mainBlock {
    position: relative;

    width: 40%;
    height: auto;

    padding: 5px;
    margin: 2% auto;

}

#sessions {
	border: 1px solid #333;
}

.session {
    display: flex;
    justify-content: space-between;

    padding: 10px;
    // margin-bottom: 5px;
    width: auto;

	// border: 1px solid #333;
}

.connectBtn {
    cursor: pointer;
}

#win_block {
	// display: none;
	text-align: center;
	padding-top: 20px;
	font-size: 20px;
}

.win_info {
    font-size: 15px;
}

.lose-info {
    font-size: 15px;

}

.winner {
	border: 1px solid #333;
}