.mainBlock {
    position: relative;

    width: 40%;
    height: auto;

    padding: 5px;
    margin: 2% auto;

}

#session {
	border: 1px solid #333;
}

.session {
    display: flex;
    justify-content: space-between;

    padding: 5px;
    // margin-bottom: 5px;
    width: auto;

	border: 1px solid #333;
}

.connectBtn {
    cursor: pointer;
}